.send-invite-btn {
    background-color: #ffffff;
    color: #F7981D;
    border: 2px solid #F7981D;
    border-radius: 5px;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .send-invite-btn:hover {
    background-color: #F7981D;
    color: #ffffff;
  }
  