.main-container1 {
    display: flex;
    margin: 2% 4%;
    height: 500px !important;
    box-shadow: var(--bs-box-shadow) !important;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}
.signuprow {
    background-color: white !important;
}
.image-container3 {
    flex: 5 !important;
    background: url('../../assets/images//BC\ -\ Bookings\ Page\ Banner.jpg')
        no-repeat center center;
    background-size: cover;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

.signup-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@media only screen and (max-width: 776px) {
    .main-container1 {
        flex-direction: column;
        height: 578px;
    }
    .image-container3 {
        flex: 3;
    }
    .signup-container {
        flex: 1;
    }
}
.signup-box {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}

.signup-box input,
.react-tel-input .form-control {
    /* height: 30px;  */
    /* padding: 5px; 
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
   */
}

.signup-box input:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-box .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.signup-box .text-danger {
    font-size: xx-small;
    display: flex;
    /* justify-content: flex-end; */
    color: #dc3545;
}

.signup-box button[type='submit'] {
    width: 100%;
    padding: 10px;
    background-color: #df9526;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-box button[type='submit']:hover {
    background-color: #e48f10;
}

.react-tel-input .form-control {
    width: 100% !important;
}
