.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    padding-left: 88px;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 0px;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover{
    background-color: none;
    text-decoration: underline;
}

.MuiBox-root css-1stp90e{
    padding: 25px;
}

.property-calendar .calendar {
    box-shadow: none !important;
    margin-left: 18px !important;
  }

.property-calendar .end-calendar{
    width: 100% !important
}


.multiple-select-container {
 border:  1px solid gray;
 width: 180px;
 height: 50px;
 border-radius: 10px;
 
}

.refreshprop {
    width: 120%;
    height: 50px;
    border-radius: 10px;

  }
