.bookingLinkContainer {
  position: absolute;
  right: 58px;
  top: 40px;
  display: flex;
  align-items: center;
}

.bookingLink {
  color: white !important;
  font-size: 14px !important;
  display: flex;
  padding: 4px 8px;
  background-color: #2d6aa0;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
}

.bookingLink:hover {
  color: white !important;
}

.bookingLink:active {
  color: white !important;
}

.line {
  color: #7dcad3 !important;
  margin-right: 10px;
}

.icon {
  margin-right: 5px;
  color: white !important;
}
