.bookingLinkContainer {
    position: absolute;
    right: 65px;
    top: 24px;
    display: flex;
    align-items: center;
}

.bookingLink {
    color: #62a2a9 !important;
    font-size: 14px !important;
    text-decoration: underline !important;
    display: flex;
    align-items: center;
}

.bookingLink:hover {
    color: #91d3db !important;
}

.bookingLink:active {
    color: #00b8cc !important;
}

.line {
    color: #7dcad3 !important;
    margin-right: 10px;
}

.icon {
    margin-right: 5px;
    color: #7dcad3 !important;

}