.bookingLinkContainer {
    position: absolute;
    right: 65px;
    top: 24px;
}

.bookingLink {
    color: #62a2a9;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease;
}

.bookingLink:hover {
    color: #62a2a9;
    font-size: 15px;
    font-weight: 700;
    text-decoration: underline;
}

.bookingLink:active {
    color: #00b8cc;
}