.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.7); 
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loading-spinner .MuiCircularProgress-colorPrimary {
  color: #DC9751; 
}