.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.dotsContainer {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.carouselImage {
  max-height: calc(100vh - 60px) !important;
  min-height: calc(90vh - 100px) !important;
  max-width: calc(100vh - 100px) !important;
  min-width: calc(100vh - 10px) !important;
}
.dotscontainer {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  position: relative;
  bottom: 0 !important;
  overflow-x: auto; /* Enable horizontal scrolling */
  max-width: 100%;
  padding: 10px;
  scroll-behavior: smooth; /* Smooth scrolling */
}

.dot {
  width: 100px !important;
  /* height: 3px !important; */
  /* background-color: lightgray; */
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
}
.dot.active {
  border: 2px solid white;
  border-radius: 5px;
}

.nextButton,
.prevButton {
  color: rgb(121, 121, 121);
}
.carouselContainer {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.lightboxContent {
  position: relative;
  max-width: 90vw;

  height: calc(100vh - 60px);
}

.lightboxContent img {
  max-width: 100%;
  max-height: 90vh;
  border-radius: 4px;
}

.closeButton {
  position: absolute;
  z-index: 9999;
  top: 25px;
  right: 40px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 4px;
}

.closeButton:hover {
  transform: scale(1.1);
}
