.fullContainer {
  background-color: #ffffff;
  flex: 1;
  height: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.addspace {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
  background-color: #e28525;
  color: #fff;
}

.usersContainer {
  padding: 12px;
  background-color: #f8f6f6;
  margin-left: 2px;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
  margin-left: 100px;
}

.sidebarOpen {
  margin-left: 0 !important;
}

.sidebarClosed {
  margin-left: 40px !important;
}

.headersection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 1rem 2rem;
  z-index: 1;
}

.headersection>h2 {
  font-weight: 600;
}

.mainsection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: .8rem;
  padding: 0 32px;
}

.spaceList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.spaceItem {
  position: relative;
}

.spaceCard {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 230px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photoGridContainer {
  text-align: center;
  padding: 10px;
}

.spaceImage {
  width: 100%;
  height: 10rem;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: .9rem 0;
}

.iconButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.iconButton:hover {
  transform: scale(1.2);
}

.photoGridContainer {
  flex: 1;
  overflow-y: auto;
}

.editOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  gap: .8rem;
}

.editOverlay:hover {
  opacity: 1;
}