@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.sidePanel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #fcfcfc;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    color: #444444;
    overflow-y: auto;
    z-index: 1000;
    font-family: 'Roboto', sans-serif;
    transition: width 0.3s ease;
}



.sidePanel.open {
    width: 220px;
}

.sidePanel.closed {
    width: 60px;
}



.logoContainer {
    padding: 11px;
    background-color: #fafafa;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    /* Add box-shadow to the logo container */
    z-index: 1001;
    /* Ensure the logo container is on top of the side panel */
}



.logo {
    max-width: 164px;
    height: auto;
}

.logotwo {
    width: 30px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
}

.toggleButton {
    background: none;
    border: none;
    color: #e28f25;
    font-size: 1.1em;
    cursor: pointer;
}

.toggleButton:hover {
    color: #d27a1e;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menuItem {
    margin: 0;
}

.menuLink {
    display: flex;
    align-items: center;
    margin-top: 12px;
    padding: 10px 20px;
    text-decoration: none;
    color: #444444;
    transition: all 0.3s ease;
}

.menuLink:hover {
    background-color: rgba(199, 234, 238, 0.2);
}

.menuLink.active {
    border-left: 3px solid #d27a1e;
    width: 2px;
    color: #e28f25;
}

.icon {
    font-size: 1.2em;
    width: 20px;
    text-align: center;
    margin-right: 15px;
}

.label {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.closed .menuLink {
    justify-content: center;
    margin-top: 12px;
    padding: 10px 20px;
}

.closed .label {
    display: none;
}

.closed .icon {
    margin-right: 0;
}

.closed .active {
    border-left: none;
    background-color: rgba(255, 255, 255, 0.1);
}

.menuLink.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.menuLink.disabled:hover {
    background-color: transparent;
}

@media (max-width: 768px) {
    .sidePanel.open {
        width: 200px;
    }

    .sidePanel.closed {
        width: 60px;
    }

    .label {
        font-size: 14px;
    }
}