@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.sidePanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 215px;
    height: 100vh;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
}

.logoContainer {
    text-align: center;
    margin-bottom: 20px;
    margin-right: -5px;
}

.logo {
    width: 80%;
    margin-right: 16px;
    max-width: 180px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
    margin: 0;
}

.menuItem {
    margin-bottom: 5px;
}

.hr {
    border-color: #ffffff;
}

.menuLink {
    display: flex;
    align-items: center;
    padding: 9px 48px;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s;
}

.menuLink:hover {
    background-color: #333333;
}

.menuLink.active {
    background-color: #333333;
}

.icon {
    margin-right: 15px;
    font-size: 1.2em;
    width: 20px;
    text-align: center;
}

.label {
    font-size: 16px;
    font-family: Arial, sans-serif;
}