@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.sidePanel {
    width: 220px;
    height: 100vh;
    background-color: rgba(240, 240, 240, 0.55);
    padding: 30px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menuItem {
    margin-bottom: 10px;
    margin-top: 5px;
}

.menuLink {
    display: flex;
    align-items: center;
    padding: 6px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.menuLink:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.menuLink.active {
    font-weight: bold;
}

.menuLink.active .label {
    text-decoration-thickness: 0.5px;
    margin-top: 5px;
}

.icon {
    margin-right: 10px;
    font-size: 1.2em;
}

.label {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif !important;
}

.divider {
    height: 1px;
    background: rgba(119, 119, 119, 0.2);
    margin: 10px 0;
    list-style-type: none;
}