.propertyPanel {
    top: 60px;
    right: 0;
    height: calc(100vh - 60px);
    margin-top: 9px;
    background-color: #fbfcfc;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    color: #444444;
    overflow-y: auto;
    z-index: 999;
    font-family: 'Roboto', sans-serif;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 230px;
    padding-top: 0;

}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    flex-grow: 1;
    border-radius: 0;
    overflow-y: auto;
}

.propertyPanel.open {
    width: 232px;
}

.menuItem {
    margin: 0;
}

.propertyNames
{
    font-weight: 900;
    font-size: 20px;
    margin-left: 13px;
    overflow-x: auto;
}

.menuLink {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px 24px;
    text-decoration: none;
    color: #444444;
    transition: all 0.3s ease;
}



.menuItem:active {
    background-color: rgba(226, 246, 248, 0.2);
}

.menuLink:hover {
    background-color: rgba(226, 246, 248, 0.2);
}

.icon {
    font-size: 1.2em;
    margin-top: 0;
    width: 20px;
    text-align: center;
    margin-right: 15px;
    color: #e28f25;
}

.label {
    font-size: 15px;
    margin-top: 0;
    font-weight: 500;
    letter-spacing: 0.5px;
}


.propertyDropdown {
    height: 65px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fbfcfc;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #444444;
}

.propertyDropdown .MuiSelect-select {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #444444;
}

.dropdownIcon {
    color: #e28f25;
    font-size: 12px;
}

.propertyDropdown .MuiOutlinedInput-notchedOutline {
    border-color: #e0e0e0;
}

.propertyDropdown:hover .MuiOutlinedInput-notchedOutline {
    border-color: #e28f25;
}

.propertyDropdown.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #e28f25;
}


@media (max-width: 768px) {
    .propertyPanel {
        width: 200px;
    }

    .label {
        font-size: 14px;
    }
}