.home-content2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  position: relative;
}

.HomeImg2 {
  width: 100%;
  height: 350px;
  background: url("../../assests//room-interior-hotel-bedroom.jpg");
  background-size: cover;
  background-position: center;
  opacity: 60%;
}

.bookingsum1 {
  position: relative;
  top: 100px;
}
