.container {
  width: 100%;
  height: 500px;
}
.container3 {
  display: flex;
  flex-direction: row;
}
.bar-btn-head {
  width: 100%;
  display: inline-block;
}
.bar-btn {
  border-radius: 50px;
  width: 40%;
  display: flex;
  float: right;
  height: 50px;
  justify-content: space-between;
  padding-right: 10px;
  box-shadow: rgba(4, 66, 77, 0.24) 0px 3px 8px;
}
.Track-btn {
  background-color: #88cdd4;
  border-radius: 50px;
  width: 7.5rem;
  height: 2rem;
  margin-top: 8px;
  color: white;
  font-size: medium;
  font-weight: 600;
}
.Track-btn > span {
  margin-right: 5px;
}
.Trac-Nig {
  font-size: large;
  font-weight: 600;
}
.Year-btn {
  border: none !important;
}
.Trac-sec {
  font-weight: 500;
  font-size: medium;
  color: grey;
}
.Prop-sec {
  margin-top: 10px;
}
.Prop1 {
  font-size: small;
}
.PropImg1 {
  width: 350px;
  height: 220px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
  padding: 3px;
}
.cardImg {
  padding: 20px;
  height: 350px;
  border-radius: 10px;
}
.Prop {
  font-weight: 600;
  font-size: small;
  color: rgb(56, 55, 55) !important;
  margin-top: 5px;
}
.Prop-sec > span {
  padding-left: 5px;
}
.container3 {
  display: flex;
  justify-content: space-between;
  color: #808080 !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
}

.Total {
  width: 1000px;
  height: 370px;
  margin-left: 30px;
}

.Off-season {
  width: 25%;
  text-align: center;
  padding-top: 50px;
}
.OffHead {
  font-weight: 600;
  font-size: 20px !important;
  color: grey;
}
.Off-season > li {
  font-size: 14px;
}
.OffSea,
.PeakSea {
  height: 140px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between !important;
}

.Total-Nights > table,
.Total-Nights > table > tr > th,
.Total-Nights > table > tr > td {
  border: 1.5px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

.Total-Holiday > table,
.Total-Holiday > table > tr > th,
.Total-Holiday > table > tr > td {
  border: 1.5px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
.TableValues {
  width: 50px;
  text-align: center;
}

tr > td {
  width: 230px;
}

tr > th {
  color: grey;
}

.ProperName:hover {
  background: none !important;
}

.My-nights {
  width: 50%;
}

@media only screen and (max-width: 480px) {
  .My-nights > h1 {
    font-size: medium !important;
  }
  .My-nights > p {
    font-size: x-small !important;
    margin-top: 10px;
  }
  .bar-btn-head {
    margin-top: 20px;
  }
  .calendarView,.FilterView{
    height: 25px;
    font-size: x-small !important;
  }
  .bar-btn {
    border-radius: 50px;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    float: right;
    height: 45px;
    justify-content: space-between;
    padding-right: 10px;
    box-shadow: rgba(4, 66, 77, 0.24) 0px 3px 8px;
  }
  .ProperName {
    font-size: 9px !important;
    width: 10% !important;
  }
 
  .PropertyButton {
    width: 150px !important ;
  }
  .Year-btn {
    width: 150px !important ;
    font-size: 9px !important;
  }
  .Track-btn {
    font-size: 10px !important;
  }
  .container3 {
    display: flex;
    flex-direction: column;
  }
  .Total {
    display: flex;
    flex-direction: column;
    margin-left: 0px !important;
    height: 810px !important;
    width: 360px !important;
    /* background-color: #88cdd4; */
  }
  .OffHead {
    font-size: 14px !important;
  }
  .OffSea {
    /* height: 140px; */
    padding: 10px;
    margin-left: 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
  }
  .PeakSea {
    margin-top: 60%;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
  }
  .Total-Nights > table,
  .Total-Holiday > table {
    width: 90% !important;
  }
  .Off-season {
    display: flex;
    width: 100%;
  }
  .Off-season > li {
    font-size: 12px !important;
    width: 6rem !important;
  }
  .Container1 {
    margin-left: 0 !important;
  }
  .PropImg1 {
    width: 300px;
    height: 184px;
    padding: 0px;
  }
  .container3 {
    padding-top: 0px !important;
  }
  .cardImg {
    padding: 20px;
    height: 270px;
    border-radius: 10px;
  }
}
