.GridBtn1 {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  cursor: pointer;
  /* margin-left: 30px !important; */
  /* float: right !important; */
}

.EditFont,
.DeleteFont {
  font-size: 20px !important;
}

.EditFont{
  color: rgb(26, 26, 77);
}
.DeleteFont{
  color: rgb(132, 40, 40);
}
@media only screen and (max-width: 480px) {
  .MuiDataGrid-cell,
  .MuiDataGrid-columnHeader {
    font-size: xx-small !important;
    width: 100% !important;
    padding-right: 0px !important;
  }

  .GridBtn1 {
    display: flex;
    gap: 2px !important;
    float: none !important;
    /* flex-direction: column; */
  }
  .EditFont,
  .DeleteFont {
    font-size: 14px !important;
  }

  /* .css-3eek4p-MuiDataGrid-main{
    overflow-y: scroll !important;
  } */
}
