.section {
  background-color: white;
}

.modal-fullscreen {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 30px;
  max-width: 100%;
  scroll-behavior: smooth;
}

.modal-fullscreen .modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('../../assets/images/building.jpg') no-repeat center center;
  background-size: cover;
}

.content-container {
  flex: 1;
  position: relative;
}

.custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.dashboard-container .navbar-link.disabled {
  color: #999;
  cursor: not-allowed;
  pointer-events: none;
}

.user-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
