.css-v4f1es-MuiPickersLayout-root .MuiPickersLayout-toolbar{
    display: none !important;
}

.basicRangeHead{
    font-weight: 500 !important;
    font-size: large !important;
}

.custom-calendar-page .calendar,
.custom-calendar-page .calendar * {
  background-color: transparent !important;
  box-shadow: none !important;
}