.fullContainer {
    display: flex;
    flex-direction: column;
    background-color: #f5f7fa;
    flex: 1;
    height: 100%;
    margin-right: 15px;
  }
  
  .contentWrapper {
    padding: 32px;
    background-color: #ffffff;
    border-radius: 12px;
    width: 100%;
    flex: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  .previewpopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    margin-left: 160px;
}
.buttonOutlineSm {
  background-color: #e28f25 !important;
  color: #ffffff !important;
  border: 1px solid #e28f25 !important;
  border-radius: 8px !important;
  font-size: 12px !important;
  padding: 8px 16px !important;
  text-transform: none !important;
}