.fullContainer {
  display: flex;
  flex-direction: column;
  background-color: #f5f7fa;
  flex: 1;
  height: calc(100vh - 60px);
  margin-right: 15px;
  overflow: hidden;
}

.contentWrapper {
  background-color: #ffffff;
  margin-right: 17px;
  border-radius: 8px;
  height: 620px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #e9ecef;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #343a40;
  margin: 0;
}

.propertyCard {
  display: flex;
  flex-direction: row;
  height: 530px !important;
  background-color: #ffffff;
  margin-bottom: 30px !important;
  border-radius: 8px;
  overflow: hidden;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  /* flex: 0 0 30%; */
  margin: 20px;
  height: 250px;
  position: relative;
  width: 360px;
  border-radius: 8px;
  overflow: hidden;
}

.propertyImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

  transition: transform 0.3s ease;
}

.exclusiveTag {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: rgba(52, 58, 64, 0.8);
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.pinIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.infoContainer {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.propertyName {
  font-size: 14px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 15px;
}

.infoBlock {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 15px;
  width: 410px;
  height: 270px;
  /* margin-bottom: 10px; */
  margin-top: 10px;
}

.infoBlock1 {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  height: 200px;
  /* margin-bottom: 10px; */
  /* margin-top: 10px; */
}

.infoColumns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addressColumn,
.detailsColumn {
  flex: 1;
  width: 350px;
  /* padding: 0 10px; */
}

.infoRow {
  display: flex;
  /* gap: 10px; */
  margin-bottom: 7px;
}

.infoLabel {
  font-weight: 700;
  color: #3c3f41;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  min-width: 120px;
}

.infoValue {
  color: #343a40;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 500;
}

.descriptionTitle {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #343a40;
  /* margin-bottom: 12px; */
}

.description {
  color: #4d5154;
  font-size: 14px;
  line-height: 1.6;
  height: 150px;
  overflow-y: auto;
}

.error,
.noData {
  text-align: center;
  padding: 24px;
  font-size: 18px;
  color: #dc3545;
  background-color: #f8d7da;
  border-radius: 4px;
  margin-top: 24px;
}

.editOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imageContainer:hover .editOverlay {
  opacity: 1;
}

.iconButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0 10px;
  padding: 5px;
  transition: transform 0.2s ease;
}

.iconButton:hover {
  transform: scale(1.2);
}

.imagePreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagePreview {
  position: relative;
  height: 20rem;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.cancelPreviewButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}

.defaultPreview {
  width: 100%;
  border: 2px dashed #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  text-align: center;
  color: #888;
}

@media (max-width: 768px) {
  .propertyCard {
    flex-direction: column;
  }

  .imageContainer {
    flex: 0 0 200px;
    margin: 20px 20px 0;
  }

  .infoColumns {
    flex-direction: column;
  }

  .addressColumn,
  .detailsColumn {
    width: 100%;
    padding: 0;
    margin-bottom: 16px;
  }

  .infoRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .infoLabel {
    margin-bottom: 5px;
  }
}
