@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.welcome-section {
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 3px solid #daf1f2;
}

.welcome-owner {
  font-size: 2rem;
  color: #f7981d;
}

.your-homes {
  font-size: 1.5rem;
  color: #f7981d;
}

.home-cards-container {
  display: flex;
  flex-direction: column;
}

.home-card {
  padding: 20px;
  border: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-bottom: 3px solid #daf1f2;
}

@media only screen and (max-width: 776px) {
  .home-cards-container {
    display: flex;
    flex-direction: column;
  }

  .home-card {
    padding: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 3px solid #daf1f2;
  }
}

.card1 {
  background: url('../../assets/images/building1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

hr {
  color: black !important;
}


.IconsText{
  font-weight: 500;
  font-size: small;
  margin-top: 1px;
}

svg{

  margin-left: 5px;
}

.home-content {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  position: relative;
}

.HomeImg {
  width: 100%;
  height: 290px;
  background: url('../../assests/LivingRoom.jpg');
  background-size: cover;
  background-position: center;
  opacity: 80%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; /* Allows wrapping of icons if the viewport is narrow */
}

.icon-container {
  display: flex;
  flex-direction: column; /* Align icon and text vertically */
  align-items: center; /* Center align items horizontally */
  /* margin-bottom: 2px; */
  font-size: 14px !important;
  cursor: pointer;
}

.IconsText {
  font-weight: 500;
  font-size: small;
  margin-top: 2px; /* Space between icon and text */
}

svg {
  margin: 0; /* Remove any margin around the SVG */
}


.HomeIcons{
  width: 50px;
  height: 50px;
}