.fullContainer {
  display: flex;
  flex-direction: column;
  background-color: #f5f7fa;
  flex: 1;
  height: 100%;
  margin-right: 15px;
}

.contentWrapper {
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  width: 100%;
  flex: 1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 16px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50;
  margin: 0;
}

.rulesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
  max-width: 800px;

  margin: 0 auto;
}

.ruleCard {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  display: flex;
  align-items: flex-start;
  max-width: 300px;
}

.ruleCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.cardIcon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background-color: #e9f2ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: #3498db;
}

.cardContent {
  flex-grow: 1;
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
  margin: 10px 0 8px 0;
}

.cardContent p {
  margin: 4px 0;
  font-weight: 600;
  font-size: small;
  color: #34495e;
  display: flex;
  align-items: center;
}

.cardContent p svg {
  margin-right: 8px;
  color: #3498db;
}

.seasonCard {
  grid-column: 1 / -1;
  background-color: #d4eced;
  /* margin-left: 200px; */
  /* height: 150px; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border: 2px solid #cfe4e4;
}

.seasonCard .cardIcon {
  background-color: #d4eced;
  margin-top: 10px;
  /* margin-left: 35px; */
  color: #ffffff;
}

.seasonCard .cardTitle {
  color: #e28f25;
  font-weight: 700;
  font-size: medium;
  /* margin-top: 20px; */
  margin-bottom: 10px;
   margin-left: 5px;
}

.error,
.noData {
  text-align: center;
  padding: 24px;
  font-size: 18px;
  color: #e74c3c;
  background-color: #fef2f2;
  border-radius: 8px;
  margin-top: 24px;
}

@media (max-width: 768px) {
  .contentWrapper {
    padding: 16px;
  }

  .rulesContainer {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 20px;
  }

  .ruleCard {
    max-width: 100%;
  }
}
