.card3 {
  width: 250px;
  height: 310px;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 10px;
  margin-right: 35px;
  position: relative;
  cursor: pointer;
}

.image-container {
  position: relative;
  
}

.image-container .card-img-top {
  border-radius: 10px;
  height: 190px;
  width: 225px;
  background-repeat: no-repeat !important;
}

.blur-effect {
  opacity: 50%;
}

.plus-icon {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  font-weight: bolder;
  color: #f7981d;
  font-size: 69px;
}

.card-body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 250px;
  height: 100px;
}

.card-title {
  font-weight: 600;
  font-size: large;
}

.share {
  color: #7c7875;
  font-size: smaller;
}

.card-text {
  color: rgb(173, 172, 172);
  display: flex;
  font-size: small;
text-align: -webkit-left;}

.plus-icon-container{
  cursor: pointer;
  margin-top: 10px;
}
