.card3 {
  width: 250px;
  height: 310px;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 15px;
  margin-right: 40px;

  position: relative;
  cursor: pointer;
}

.image-container {
  position: relative;
}

.image-container .card-img-top {
  border-radius: 10px;
  height: 190px;
  width: 225px;
  background-repeat: no-repeat !important;
}

.blur-effect {
  opacity: 50%;
}

.plus-icon {
  position: absolute;
  top: 47%;
  left: 47%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  color: #f7981d;
  font-size: 69px;
}

.card-body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 250px;
  flex: 0 0 !important;
}

.card-title {
  font-weight: 600;
  font-size: large;
  color: #808080;
}

.share {
  color: #7c7875;
  font-size: smaller;
}

.card-text {
  color: rgb(173, 172, 172);
  max-width: 230px !important;
  width: 100% !important;
  display: flex;
  font-size: small;
  text-wrap: wrap;
  text-align: left;
}

.plus-icon-container {
  cursor: pointer;
  margin-top: 10px;
}
.PropContainer {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
}
.Cardcontainer {
  display: flex;
  width: 100%;
  margin: 15px;
  padding: 15px;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 1px;
}

@media only screen and (max-width: 650px) {
  .Cardcontainer {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 350px) {
  .Cardcontainer {
    display: flex;
    flex-direction: column;
  }
}

.carousel {
  overflow: hidden;
}

.carousel-controls {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.PropImg {
  margin: 10px;
  width: 93%;
  margin-left: 3%;
  border-radius: 10px;
}
.carousel-control {
  border: none;
  color: rgb(207, 206, 206);
  font-size: 24px;
  cursor: pointer;
  border-radius: 5%;
  margin-top: 20%;
  height: 60px;
  width: 20px;
}

.prev {
  position: absolute;
  left: -6px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #bab9b8;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  color: #ffffff;
}

.next {
  position: absolute;
  right: -9px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #bab9b8;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  color: #ffffff;
}

.FadeProp {
  margin-top: 15px;
  margin-left: 20px;
}

.flex-row {
  align-items: center;
}
