/* General Styles */
.card3 {
  width: 250px;
  height: 310px;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 15px;
  margin-right: 40px;
  position: relative;
  cursor: pointer;
}

.card-BodyHead {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.image-container {
  position: relative;
}

.image-container .card-img-top {
  border-radius: 10px;
  height: 190px;
  width: 225px;
  background-repeat: no-repeat !important;
}

.blur-effect {
  opacity: 50%;
}

.plus-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  color: #f7981d;
  font-size: 69px;
}

.card-body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 250px;
}

.card-title {
  font-weight: 600;
  font-size: large;
  color: #808080;
}

.share {
  color: #7c7875;
  font-size: smaller;
}

.card-text {
  color: rgb(173, 172, 172);
  max-width: 230px !important;
  width: 100% !important;
  display: flex;
  font-size: small;
  text-wrap: wrap;
  text-align: left;
}

.plus-icon-container {
  cursor: pointer;
  margin-top: 10px;
}

.PropContainer {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
}

.Cardcontainer {
  display: flex;
  width: 100%;
  margin: 15px;
  padding: 15px;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 1px;
}

/* Carousel styles */
.carousel {
  overflow: hidden;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 9999;
}

.carousel-control {
  border: none;
  color: rgb(207, 206, 206);
  font-size: 24px;
  cursor: pointer;
  border-radius: 5%;
  margin-top: 20%;
  height: 40px;
  width: 40px;
}

.prev {
  background-color: #bab9b8;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  color: #ffffff;
}

.next {
  background-color: #bab9b8;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  color: #ffffff;
}

.FadeProp {
  margin-top: 15px;
}

.flex-row {
  align-items: center;
}

.View {
  visibility: hidden;
}

@media only screen and (max-width: 1024px) {
  .Cardcontainer {
    flex-direction: row;
    overflow-x: auto;
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .Cardcontainer {
    flex-direction: column;
    overflow-x: hidden;
    padding: 5px;
  }

  .card3 {
    width: 100%;
    margin-right: 0;
  }

  .image-container .card-img-top {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 813px) {
  .Cardcontainer {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 5px;
  }
  .View {
    visibility: visible;
  }
  .ViewBtn {
    visibility: visible;
    width: 100px !important;
    height: 30px !important;
    background-color: #e8aa6c !important;
    border-radius: 50px;
    color: white;
    margin-left: 140px;
  }
  .card3 {
    display: flex;
    flex-direction: row;
    height: 130px;
    width: 100%;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border-radius: 10px;
    padding: 0;
  }
  .FadeProp {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  }

  .image-container .card-img-top {
    border-radius: 0px;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    width: 70%;
    height: 130px !important;
    background-repeat: no-repeat !important;
  }

  .blur-effect,
  .card-img-top {
    border-radius: 0px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }
  .carousel-control {
    font-size: 20px;
    height: 30px;
    width: 30px;
  }

  .plus-icon {
    font-size: 50px;
  }

  .card-body {
    display: flex;
    gap: 5px;
    padding-right: 50px !important;
  }

  .card-text {
    font-size: smaller;
  }

  .card-title {
    font-size: medium;
  }
  .carousel-controls {
    visibility: hidden;
  }
  .Cardcontainer {
    box-shadow: none !important;
  }
}

@media only screen and (max-width: 480px) {
  .card3 {
    display: flex;
    flex-direction: column;
    height: 293px;
    border-radius: 10px !important;
    margin-top: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    padding: 0;
  }
  .carousel-controls {
    visibility: hidden;
  }
  .Cardcontainer {
    box-shadow: none !important;
  }
  .FadeProp {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .image-container .card-img-top {
    border-radius: 0px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 0px !important;

    width: 100%;
    height: 210px !important;
    background-repeat: no-repeat !important;
  }
  .blur-effect {
    height: 300px !important;
  }
  .blur-effect,
  .card-img-top {
    border-radius: 0px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 0px !important;
  }
  .carousel-control {
    font-size: 20px;
    height: 30px;
    width: 30px;
  }

  .plus-icon {
    font-size: 50px;
  }

  .card-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 20px; */
    /* margin-top: 16px !important; */
    align-items: center;
    /* padding: 5px; */
    padding-left: 15px;
    /* border-radius: 10px; */
    /* background-color: #f1f1f1; */
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }
  .ViewBtn {
    visibility: visible;
    width: 100px !important;
    height: 35px !important;
    /* margin-top: 10px; */
    /* border: 1px solid grey; */
    background-color: #e8aa6c !important;
    border-radius: 50px;
    margin-left: 40px;
    color: white;
  }

  .card-text {
    font-size: x-small !important;
  }

  .card-title {
    font-size: 12px;
  }
  .card-BodyHead {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 147%;
    margin-top: 10px;
  }

  .card-body {
    width: 50%;
  }

  .card3 {
    height: 300px;
  }
  .ViewBtn {
    margin-top: 20px;
  }
  .card-body-plus {
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 300px;
  }

  .FadeProp {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
}
