.holidaysContainer {
  padding: 10px 10px 0px 10px;
  background-color: #f8f6f6;
  margin-left: 2px;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}

.evenRow {
  background-color: rgb(255, 255, 255);
}
.oddRow {
  background-color: #ebecec;
}
.refreshIcon {
  color: #4fbbc7 !important;
}
.refreshprop {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 74%;
}
.dataGridPadding :global(.MuiDataGrid-footerContainer) {
  padding-left: 16px;
  padding-right: 16px;
}

.sidebarOpen {
  margin-left: 0 !important;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: large;
  font-weight: bold;
  color: #333;
  padding-left: 5px;
}

.dataGridWrapper {
  flex-grow: 1;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 2px !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.dataGrid {
  flex-grow: 1;
  border: none !important;
}

.dataGrid :global(.MuiDataGrid-columnHeaders) {
  color: #333;
  font-weight: bold;
}

.dataGrid :global(.MuiDataGrid-cell) {
  border-bottom: 1px solid #e0e0e0;
}

.dataGrid :global(.MuiCheckbox-root) {
  color: #1976d2;
}

.dataGrid :global(.MuiDataGrid-columnSeparator) {
  display: none;
}

.dataGrid :global(.MuiDataGrid-menuIcon) {
  color: #1976d2;
}

.dataGrid :global(.MuiDataGrid-toolbarContainer) {
  padding: 8px;
  background-color: #fafafa;
}

.dataGrid :global(.MuiDataGrid-footerContainer) {
  border-top: 1px solid #e0e0e0;
}

@media (max-width: 768px) {
  .holidaysContainer {
    padding: 16px;
    margin-left: 0;
  }

  .sidebarOpen,
  .sidebarClosed {
    margin-left: 0;
  }

  .titleContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 19px !important;
  }

  .titleContainer {
    display: flex;
    flex-direction: row !important;
  }

  .addHolidayBtn {
    font-size: 10px !important;
    width: 100px !important;
    height: 25px !important;
  }

  .dataGridPadding {
    font-size: x-small !important;
  }
}
