.FooterPage{
    padding-left: 30px;
    width: 100%;
    background-color: #F7F7F7 !important;
    padding-right: 30px;


}

.logo {
    background-image: url("../../assets/images/fraxioned.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 3rem;
    width: 300px !important;
    display: flex;
    align-items: center;
  }