.propertyUsersContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 10px;
  height: 610px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fdfdfd;
  font-family: "Arial", sans-serif;
}

.title {
  font-size: medium;
  font-weight: 600;
  color: #2c3e50;
  border-radius: 5px;
  width: 1044px;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0.1, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(104, 103, 103);
}

.titleIcon {
  margin-right: 0.75rem;
}

.cardContainer {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 0.75rem;
}

.userCard {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: all 0.3s ease;
  height: 200px;
  /* border-left: 5px solid #88cdd4; */
}

.userCard:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.userInfo1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 15px; */
  /* margin-bottom: 0.75rem; */
}

.userInfo {
  display: flex;

  flex-direction: row;
  align-items: center;

  margin-bottom: 0.75rem;
}

.usericon {
  border: 1px solid grey;
  height: 50px;
  width: 50px;
  padding: 2px;
  border-radius: 50px;
  /* padding: 2px; */
  /* background-color: #7f8c8d; */
}
.icon {
  margin-right: 0.75rem;
  color: #00636d;
}
/* .monsterrat {
  font-family: "Montserrat", sans-serif !important;
} */

.userName {
  font-size: small;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #011e3b;
  font-family: "Montserrat", sans-serif !important;
}
.profileDetails {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 220px;
}

.userId,
.userShares,
.userAcquisitionDate {
  font-size: x-small;
  color: #0a3a6b;
  margin-top: 5px;
  font-weight: 600;
  /* display: flex; */
  /* flex-wrap: wrap; */
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif !important;
}

.loading,
.error,
.noUsers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  color: #34495e;
}

.loading {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.error {
  color: #e74c3c;
}

.noUsers {
  font-style: italic;
  color: #7f8c8d;
}

@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .userCard {
    margin-bottom: 0.75rem;
  }
}
