.home-content {
    padding: 20px;
    text-align: center;

  }
  
  .welcome-owner {
    font-size: 2rem;
    margin-top: 20px;
    color: #F7981D;
  }
  
  .your-homes {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #F7981D;
  }
  
  .home-card {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-image-container {
    width: 100%;
  }
  
  .home-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .home-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .book-stay-btn {
    margin-top: 10px;
    background-color: #F7981D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .season-card {
    text-align: left;
  }
  
  .peak-season-btn {
    margin-top: 10px;
    background-color: #F7981D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  