.home-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}

.home-image-container {
  width: 100%;
}

.home-image {
  width: 100%;
  height: auto;
}

.home-details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  align-items: flex-start;
}

.home-details h3 {
  color: #0d7477;
  display: flex;
  align-items: flex-start;
}

.home-details p {
  color: #f7981d;
  margin: 5px 0;
}

.book-stay-btn {
  margin-top: 10px;
  background-color: #f7981d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 37px;
  cursor: pointer;
  text-decoration: underline;
}

.book-stay-btn:hover {
  background-color: #ffab3c;
}

.address {
  font-size: small;
  margin-right: 25px;
}
.title {
  color: #0d7477 !important;
  font-weight: 600;
}
.imagetxt {
  margin-left: 10px;
}

svg {
  vertical-align: middle;
  font-size: xxx-large;
}
