.home-content {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: sans-serif !important;
}



.welcome-section {
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 3px solid #daf1f2;

}

.welcome-owner {
  font-size: 2rem;
  color: #F7981D;
}

.your-homes {
  font-size: 1.5rem;
  color: #F7981D;
}

.home-cards-container {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.home-card {
  padding: 20px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  border: none;
  display: flex;
  flex-direction: row;
  gap: 20px; /* Adds vertical gap between each card inside home-card */
  border-bottom: 3px solid #daf1f2;

}


@media only screen and (max-width: 776px) {
  .home-cards-container {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
  }
  
  .home-card {
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adds vertical gap between each card inside home-card */
    border-bottom: 3px solid #daf1f2;
  
  }
}
