/* src/components/PeakSeasonCard.css */
.season-card2 {
    text-align: start;
    color: #F7981D;
    width: 80%;
  }
  
  .peak-season-btn {
    margin-top: 10px;
    background-color: #F7981D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 37px;
    cursor: pointer;
    width: 70%;
    text-decoration: underline;
    
  }
  .peaktable{
    margin-left: 0px;
  }
  
  .peak-season-btn:hover {
    background-color: #ffab3c;
    text-decoration: underline;
  }

  
  .PeakSeason>tr>td{
    color: #F7981D;
    text-align: left;
    padding: 3px;
  }
  
  table{
    width: 250px !important;
  }
  
  .season-card2>table{
    border: #F7981D;
 
  }

  .season-card2>p{
 margin-right: 145px;
  }

  .PeakSeason>tr>td.nights,.peak {
    color: #e18b19 !important;
    font-weight: 600;
    /* padding: 3px; */

  }
  
  .num{

    text-align: center !important;
  }

  