.uploadContainer {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dragging {
    background-color: #f0f8ff;
    border-color: #3399ff;
}

.imagePreview,
.uploadPrompt {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.previewImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uploadPrompt {
    text-align: center;
    color: #666;
    border: 2px dashed #ccc;
    flex-direction: column;
}

.icon {
    font-size: 3rem;
    color: #ccc;
    margin-bottom: 10px;
}

.dragDropText {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.uploadButton {
    margin-top: 8px;
    background-color: #066670;
    color: white;
    border: none;
    border-radius: 4px;
    padding: .2rem .6rem;
    cursor: pointer;
}

.uploadButton:hover {
    background-color: #065861;
}

.uploading {
    font-size: 1.5rem;
    font-weight: 600;
}

.progressContainer {
    width: 100%;
    margin-top: 8px;
    display: flex;
    gap: .6rem;
    border-radius: .3rem;
    padding: .4rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.progressCircle {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressCircleIcon {
    background-color: #e5e5e5;
    border-radius: .2rem;
    height: 65%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #066670;
    font-size: 1.2rem;
}

.progressDetails {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.progressDetailsHeader {
    display: flex;
    justify-content: space-between;
}

.fileName {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .01rem;
}

.progressBar {
    width: 100%;
    height: .3rem;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease;
}

.uploadPercentage {
    text-align: right;
    font-size: .8rem;
    font-weight: 500;
}

.editOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    gap: .8rem;
}

.editOverlay:hover {
    opacity: 1;
}

.photoItem:hover .editOverlay {
    opacity: 1;
}

.iconButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.iconButton:hover {
    transform: scale(1.2);
}