.ShowMoreAmenities {
    color: black !important;
    border: 1px soild black !important;
    border-radius: p4x !important;
    font-size: small !important;
    text-transform: capitalize !important;
    padding: .6rem .96rem !important;
    font-weight: 500 !important;
    font-family: 'Montserrat', sans-serif !important;
}