.ShowMoreAmenities {
  color: black !important;
  border: 1px solid black !important;
  border-radius: 4px !important;
  font-size: small !important;
  text-transform: capitalize !important;
  padding: 0.6rem 0.96rem !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif !important;
}

.aminityPopup .MuiDialog-paper {
  border-radius: 10px;
  height: 600px;
  padding: 10px !important;
  overflow: auto;

}

.aminityPopup .MuiDialogTitle-root {
  /* padding: 16px 24px; */
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  
}

.aminityPopupTitle.css-gepadz-MuiTypography-root {
  padding-left: 30px;
  font-weight: 600 !important;
  font-size: 1.375rem !important;
  line-height: 1.625rem !important;
  margin-bottom: 16px !important;
}

.aminityPopup .MuiDialogContent-root {
  padding: 24px;
}

.aminityPopup .MuiDialogActions-root {
  padding: 16px 24px;
  border-top: 1px solid #e0e0e0;
}

.aminityPopup .MuiButton-root {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
}

.monsterrat.amenityGroupName {
  font-weight: 550 !important;
  font-size: large !important;
  line-height: 1.375rem !important;
  margin-bottom: 0px !important;
  padding-bottom: 16px !important;
  padding-top: 7px !important;
}

.monsterrat.amenityName {
  font-weight: 400 !important;
  font-size: medium !important;
  line-height: 1.375rem !important;
  margin-bottom: 0px !important;
  padding-bottom: 5px !important;
  padding-top: 10px !important;
}
.line {
  height: 1px !important;
  background-color: rgb(221, 221, 221) !important;
}

.ImgIcons{
  width: 1.8rem;
  height: 1.8rem;
  /* border-radius: 50%; */
}