.modalContent {
  height: 100%;
  background: #f8f8f878;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .7rem;
}

.modalTitle {
  font-weight: 400;
  font-size: 24px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
}

.formContent {
  display: flex;
  gap: 1rem;
  padding: 1.3rem;
  padding-bottom: 0;
  position: relative;
}

.leftContent {
  width: 45%;
}

.rightContent {
  width: 55%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  gap: .25rem;
}

.inputGroup input,
.inputGroup select,
.propertyGroup input,
.propertyGroup select {
  width: 100%;
  padding: .6rem;
  border: 1px solid #e8e8e8;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.inputGroup input::placeholder {
  color: #71717a;
  font-weight: 400;
}

.propertiesList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 5px 10px 5px 10px !important;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 4px;
  gap: 0.4rem;
  font-size: 13px;
}

.propertyGroupshare {
  width: 22%;
}

.propertyGroupshare select {
  padding: .6rem;
  border: 1px solid #e1e1e1;
  border-radius: .3rem;
  font-size: 14px;
  transition: border-color 0.3s ease;
}


.inputGroup input:focus,
.inputGroup select:focus,
.propertyGroup input:focus,
.propertyGroup select:focus,
.propertyGroupshare select:focus {
  border-color: #e28f25 !important;
  outline: none;
}

input:-webkit-autofill:focus,
input:autofill:focus {
  border-color: none !important;
}

.inlineInputGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.addPropertyContainer{
 display: flex;
}


.addPropertySection {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.addPropertySection h2 {
  font-size: 1rem;
}

.addPropertySection .inlineInputGroup {
  padding: 1rem .5rem;
  border: 1px solid #e2e8f0;
  border-radius: .3rem;
}

.addedPropertiesList,
.noProperty {
  border: 1px solid #e4e4e7;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  height: 22rem;
  max-height: 22rem;
  overflow-y: scroll;
  background: #fff;
  margin-top: 10px;
}

.addedPropertiesList::-webkit-scrollbar {
  width: 3px;
}

.addedPropertiesList::-webkit-scrollbar-track {
  background-color: #9993 !important;
}

.addedPropertiesList::-webkit-scrollbar-thumb {
  background-color: #bdbdbd99 !important;
}

.noProperty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 500;
}

.noProperty span {
  opacity: .3;
}

.propertylist {
  width: 11.6rem !important;
}

.propertyshare {
  width: 7.7rem !important;
}

.propertyName {
  width: 185px;
  padding-left: 10px;
}

.propertydate {
  width: 8rem !important;
}

.propertylistview {
  width: 13rem !important;
  font-weight: 500;
}

.propertyshareview {
  width: 6rem !important;
}

.propertydateview {
  width: 6.5rem !important;
}

.propertyButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.inlinebutton {
  display: flex;
  gap: 1rem;
  padding-left: 10px;
}

.propertyItem {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 4px;
  gap: 0.4rem;
  font-size: 13px;
}

.editsavebutton {
  gap: 0.7rem;
  display: flex;
  width: 75px;
  color: #e28f25;
  padding-left: 5px;
}

.addselectProperty {
  width: 100% !important;
  font-size: small !important;
}

.addselectshare {
  width: 100% !important;
  font-size: small !important;
}

.addproptydate {
  width: 100% !important;
  font-size: small !important;
}

.addPropertyIcon {
  display: flex;
  line-height: 15px;
  gap: 7px;
  width: 60px;
}

.propertyActions {
  display: flex;
  align-items: center;
}

.editButton,
.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: .3rem;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 1rem;
}

.customSelect::-ms-expand {
  display: none;
}

.error {
  color: #ff6b6b;
  font-size: 12px;
  padding-left: .3rem;
}

.customSnackbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
}

.customSnackbar .MuiSnackbarContent-root {
  background-color: #4caf50;
  /* Default to success color */
}

.customSnackbar .MuiSnackbarContent-root.error {
  background-color: #f44336;
}

.customSnackbar .MuiSnackbarContent-message {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.customSnackbar .MuiSnackbarContent-action {
  margin-left: 10px;
}

.sectionTitle {
  font-size: 14px;
  letter-spacing: .08rem;
  text-transform: uppercase;
  font-weight: 500;
}

.registerBasicDetails {
  padding-top: 15px;
}


.propertyItem select,
.propertyItem input[type="date"] {
  width: 170px;
}

.updateButton {
  border-color: #e8aa6c;
  color: #008a99;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: -16px;
  transition: background-color 0.3s ease;
}

@media only screen and (max-width: 763px) {
  .formContent {
    flex-direction: column;
  }

  .leftContent,
  .rightContent {
    width: 100%;
  }
  .addPropertySection .inlineInputGroup {
    flex-wrap: wrap;
  }
}