 
.modal-footer-custom {
    display: flex;
    justify-content: space-between;
  }

.primary{
  background-color: #df9526;
  border: none;
  height: 40px;
  width: 40%;
  color: white;
  border-radius: 5px;
}  

.primary:hover{
  background-color: #e48f10;
}
  
.success{
  background-color: #0c888c;
  border: none;
  height: 40px;
  width: 40%;
  color: white;
  border-radius: 5px;
}

.message{
  text-align: center;
  padding-bottom: 30px;
}
.title{
  margin-top: 5px;
}