.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%) !important;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px!important;
  /* opacity: 95% !important; */
  color: #fff;
  top: 0;
  z-index: 1000;
  position: fixed;
  width: 100vw;
}





.username {
  padding-left: 30px;
  font-size: small;
}

.navbar-logo img {
  height: 40px;
  padding: 10px;
}

.navbar-links {
  display: flex;
  gap: 25px !important;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  gap: 25px !important;

}

.navbar-link:hover {
  color: #ddd;
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link-with-margin {
  margin-right: 20px;
}

.navbar-user-name {
  padding: 10px;
  font-size: 16px;
}

/* .navbar-user-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
} */

.mr-auto
{
  font-size:14px;
  letter-spacing: 1px;
  gap: 10px;
  /* padding-left: 30px; */
}

.username-dropdown-toggle {
  background: none !important;
  border: none !important;
  padding-right: 10px;
  display: flex;
  align-items: center;
  color: orange;
  margin-right: 13px;
}

.username-dropdown-toggle:hover,
.username-dropdown-toggle:focus,
.username-dropdown-toggle:active,
.username-dropdown-toggle.show {
  background: none !important;
  box-shadow: none !important;
  color: rgb(236, 160, 18);
}

.modal-header {
  align-items: center;
  padding-left: 38%;
  height: 55px !important;
  background-color: #0c7882;
  color: white;
}

.nav-link-with-margin {
  color: #0c7882;
  text-transform: uppercase;
  padding: 0;
  font-family: Montserrat, sans-serif;

  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.Drop-menu {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 0;
  border: none;
  font-size: 15px;
  /* margin-left: 10px; */
}

/* 
.Drop-item:hover{
  color: orange;
  padding: 6px;
}
.responsive-image {
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin-top: 5px;
} */
/* 

.navbar-nav {

  display: flex;
  flex-direction: row;

} */
.ContactUsFoot {
  max-width: 100%;
  height: 97%;
}

.custom-modal {
  max-width: 80%;
  max-height: 80%;
}

.custom-modal .modal-content {
  height: 100%;
}

/* .navbar-nav .dropdown-menu {
  position: static;
  padding: 14px;
  border-radius: 8px;
  width: 242px;
  left: 25px;
  margin-top: 12px;
} */

.profile {
  padding: 2px;
  font-size: 16px;
  padding-left: 23px;
}

.css-17o22dy-MuiAvatar-root {
  width: 32px !important;
  height: 32px !important;
}

.css-ptiqhd-MuiSvgIcon-root {
  margin-left: 5px;
}

.profile1 {
  padding-right: 10px;
}

.css-137ul40-MuiButtonBase-root-MuiIconButton-root:hover {
  background: none !important;
}

.NavbarUSer{
  color: black;
}

/* Dashboard.css */
.nav-link {
  color: #015962 !important; /* Default link color */
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
  color: #00636D !important; /* Active link   */
}
