  .reset {
    width: 100%;
    max-width: 400px;
    border: none;
    background-color: #fbfbfb;
    margin-top: 130px;
    margin-bottom: 20px;
  }
  
  .reset input {
    padding: 10px;
  }
  
  .invalid-feedback {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25rem;
  }
  
  .reset button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #df9526;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset button[type="submit"]:hover {
    background-color: #e48f10;
  }