/* ForgotPassword.css */
.vh-100 {
    height: 100vh;
  }
  
  .reset {
    width: 100%;
    max-width: 400px;
    border: none;
  }
  
  .reset input {
    padding: 10px;
  }
  
  .invalid-feedback {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25rem;
  }
  