  .reset {
    width: 100%;
    max-width: 400px;
    border: none;
  }
  .container4{
    
    background-size: cover;
    height: 94vh;
    padding-top: 10px;
  }
  .main-container {
    height: calc(100vh - 56px); 
    display: flex;
    margin: 2% 5%;
      box-shadow: var(--bs-box-shadow) !important;
      height:500px !important;
      
      
  }
  
  .image-container4 {
    flex: 3;
    background: url("../../assets/building.jpg") no-repeat center center;
    background-size:cover;
  }
  
  .reset-container{
    flex: 1 ;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9); 
    padding: 30px;

  }
  
  .reset input {
    /* padding: 10px; */
  }
  
  .invalid-feedback {
    color: #dc3545;
    font-size: xx-small;
    margin-top: 0.25rem;
  }
  
  .reset button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #df9526;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset button[type="submit"]:hover {
    background-color: #e48f10;
  }