.card3 {
  width: 250px;
  height: 310px;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 10px;
  margin-right: 35px;
}

.blur-effect > .image-container {
  opacity: 50%;
}

.plus-icon {
  position: absolute;
  top: 29%;
  right: 32%;
  font-weight: bolder;
  color: #f7981d;
  font-size: 69px;
}

.image-container > .card-img-top {
  border-radius: 10px;
  height: 190px;
  width: 225px;
}

.card-body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 200px;
  width: 250px;
}

.card-title {
  font-weight: 600;
  font-size: large;
}

.share {
  color: #7c7875;
  font-size: smaller;
}

.card-text {
  color: rgb(173, 172, 172);
  display: flex;
  font-size: small;
  text-align-last: start;
}

.image-container {
  position: relative;
  display: inline-block;
}
