.propertyImageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 8px;
}

.propertyType {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.colorBox {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 4px;
}

.propertyName {
  cursor: pointer;
  color: #333;
}

.propertyName:hover {
  cursor: pointer;
  color: #683131;
  font-weight: bold;
}

.propertyName:active {
  cursor: pointer;
  color: #683131;
  font-weight: bold;
}

.selected {
  font-weight: bold;
}

.dropdownContainer {
  display: flex;
  width: 30%;
  margin-top: 10px;
  justify-content: flex-end;
  /* border: 1px solid grey !important;  */
  border-radius: 4px;
  /* height: 50px;  */
  position: relative;
  float: inline-end;
}

.MuiSelect-root {
  height: 100%;
  padding: 0;
}

.dropdownMenu {
  width: 50%;
}
.container {
  /* display: flex;
    flex-direction: column;
    align-items: flex-end;  */
  /* margin-top:-8px; */
  /* margin-bottom: 8px;       */
}
