.sendBtn {
  background-color: #fbc676 !important;
  color: white;
}

.sendBtn:hover {
  background-color: #fbc676 !important;
  color: white;
}

.container1 {
  padding: 40px;
  align-content: center;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.orange-border {
  border: 3px solid #fbcc76;
}

.form-label1 {
  display: block;
  height: 60px;
  text-align: center;
  background-color: #fbcc76;
  padding: 16px;
  color: white;
}

.orange-border::placeholder {
  color: #fbcc76;
}

.form-control, .form-label {
  width: 100%;
  border-radius: 0;
}

.contacttext {
  text-align: justify;
  color: #72d5ee;
  font-size: larger;
  margin: 0 auto; 
}

.TFW {
  color: #72d5ee;
}

.HT {
  color: #4891a4;
  font-weight: bold;
  text-align: center;
}

.leftside {
  padding-left: 70px;
  padding-right: 70px;
}

.box {
  height: 200px;
}

.textarea{
  display: flex;
  align-items: center;
}