.container {
    max-width: 1266px;
    min-height: 100vh;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f5f6f7;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupContent {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popupTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #e0e0e0;
}

.popupAmenityList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.popupAmenityItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 5px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.popupAmenityItem:hover {
    background-color: #e0e0e0;
}

.closePopupButton {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #4abac6;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.closePopupButton:hover {
    background-color: #3d9da8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 1rem;
    border-bottom: 2px solid #e0e0e0;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dropdown {
    position: relative;
    width: 254px;
}

.dropdownToggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border: 1px solid #e0e0e0;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdownToggle:hover {
    background-color: #f5f5f5;
}

.selectedText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.chevronIcon {
    flex-shrink: 0;
    margin-left: 8px;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 100%;
    margin: 0.125rem 0 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .175);
}

.dropdownSearch {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.dropdownSearchInput {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 4px;
    font-size: 14px;
    background: transparent;
}

.dropdownOptions {
    max-height: 300px;
    overflow-y: auto;
    padding: 0.5rem 0;
    scrollbar-width: thin;
    scrollbar-color: #4abac6 #f5f5f5;
}

.searchIcon {
    color: #666;
    margin-right: 8px;
}

.dropdownMenu button {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdownMenu button:hover {
    background-color: #f8f9fa;
}

.dropdownOptions::-webkit-scrollbar {
    width: 6px;
}

.dropdownOptions::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.dropdownOptions::-webkit-scrollbar-thumb {
    background-color: #4abac6;
    border-radius: 3px;
}

.dropdownOption {
    width: 100%;
    background: none;
    border: none;
    padding: 8px 12px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    font-size: 14px;
}

.dropdownOption:hover {
    background-color: #f8f9fa;
}


.addButton {
    display: flex;
    align-items: center;
    background-color: #4abac6;
    color: white;
    border: none;
    padding: 0.50rem 0.7rem;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background-color: #3d9da8;
}

.refreshIcon {
    color: #75c8d1 !important;
    transition: color 0.3s ease !important;
}

.refreshIcon:hover {
    color: #5ba3aa !important;
}

.content {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.amenitiesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.amenityGroup {
    /* background-color: #fbfeff; */
    width: 260px;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.amenityType {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #e0e0e0;
}

.amenityList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.amenityItem {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    padding: 5px;
    height: 30px;
    /* background-color: #fff; */
    border-radius: 4px;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
    transition: box-shadow 0.3s ease;
}

/* .amenityItem:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
} */

.actionButtons {
    display: flex;
    gap: 0.5rem;
}

.editButton,
.saveButton,
.cancelButton,
.deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.editButton {
    color: #4abac6;
}

.saveButton {
    color: #2ecc71;
}

.cancelButton {
    color: #e74c3c;
}

.deleteButton {
    color: #ef958c;
}

.editButton:hover,
.saveButton:hover,
.cancelButton:hover,
.deleteButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.editInput {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #4abac6;
    border-radius: 4px;
    outline: none;
    width: 100%;
}

.editInput:focus {
    box-shadow: 0 0 0 2px rgba(74, 186, 198, 0.2);
}

.moreLink {
    color: #353535;
    text-decoration: none;
    font-weight: 500;
    margin-left: 190px;
    /* margin-top: 0.5rem; */
    display: inline-block;
    transition: color 0.3s ease;
}

.moreLink:hover {
    color: #3d9da8;
    /* text-decoration: underline; */
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    color: #333;
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .popupContent {
        width: 95%;
        padding: 1rem;
    }

    .dropdownMenu {
        position: fixed;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 300px;
        margin-top: 0.5rem;
    }


    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .actions {
        width: 100%;
        flex-direction: column;
    }

    .searchBar,
    .dropdown,
    .addButton {
        width: 100%;
    }

    .dropdownToggle {
        width: 100%;
        justify-content: space-between;
    }

    .dropdownMenu {
        width: 100%;
    }

    .amenitiesGrid {
        grid-template-columns: 1fr;
    }

    .refreshIcon {
        align-self: flex-end;
    }
}