@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
}

.Book-heading {
  font-family: sans-serif;
  font-weight: 700;
}

.no-border .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.Blue-row {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 1.2rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif !important;
  border-bottom: 2px solid #00000015 !important;
}

.Blue-rowshare {
  font-family: "Montserrat", sans-serif !important;
  font-size: 0.9rem !important;
  font-weight: 600 !important;
  letter-spacing: 0.06rem;
}

.img-row {
  display: flex;
  width: 100%;
}

.img1 {
  height: 400px;
  width: 800px;
}

.image {
  height: 198px;
  width: 100% !important;
}

.container {
  width: 100%;
}

.cornerbottomright {
  border-bottom-right-radius: 5px;
}

.cornertopright {
  border-top-right-radius: 5px;
}

.cornertop {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.location {
  margin-top: 10px;
}

.cards {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
  border-radius: 20px !important;
  background-color: white !important;
  width: 70%;
}

.selectDate {
  font-weight: 600;
  font-weight: 600 !important;
}

.Select {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  border: 1px solid white;
}

.DatePicker {
  padding: 0;
  white-space: normal;
}
.GroupedImg {
  text-transform: uppercase;
  font-size: small !important;
  font-weight: 700 !important;
  padding: 4px 10px;
  background-color: rgb(243, 158, 48);
  color: white;
  border-radius: 2px;
  width: 200px;
  text-align: center;
}
.GroupImgPic{
  width: 95% !important;
  margin-left: 3% !important;
}
.ListingImg {
  padding: 15px;
}
.show-more-overlay {
  position: absolute;
  bottom: 18px;
  right: 12px;
  color: black;
  padding: 0 0.7rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-color: #fff;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  gap: 0.2rem;
}

.show-more-overlay:hover {
  background-color: #f5f5f5ee;
}

.show-more-text {
  cursor: pointer;
  font-size: 0.8rem !important;
  text-transform: none !important;
}

.stikcy-eft {
  position: sticky !important;
}

.PropertyName {
  text-transform: capitalize !important;
  font-weight: 600 !important;
}

.PropertyAddress {
  font-size: 1.1rem !important;
  display: flex;
  /* flex-direction: column; */
  font-size: smaller !important;
  gap: 6px;
}

.ThingstoHead {
  font-weight: 500 !important;
  margin-right: 100px;
}

.ThingstoHead1 {
  font-weight: 500 !important;
  font-size: x-large !important;
}

.monsterrat {
  font-family: "Montserrat", sans-serif !important;
}

.checkIn {
  font-size: 1.3rem !important;
  font-weight: 600 !important;
}

.GridWidth {
  width: 55%;
}

.GridWidth1 {
  width: 45%;
}

.normalcalendar .calendar {
  box-shadow: none !important;
  width: 100% !important;
}
@media only screen and (max-width: 400px) {
  .PropertyName {
    font-size: medium !important;
  }

  .propertyDetails {
    width: 100%;
  }
  .liststyle {
    font-size: 0.6rem !important;
  }
  .GridWidth {
    width: 100% !important;
  }
  .PropertyAddress {
    font-size: xx-small !important;
  }
  .location > img {
    width: 20px !important;
    height: 20px !important;
  }
  .Blue-rowshare {
    font-size: x-small !important;
  }
  .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .Showmore {
    font-size: 12px !important;

    text-align: left !important;
  }

  .GridWidth1 {
    width: 100% !important;
  }

  .MainCard1 > div > div > span,
  .MainCard1 > div > div > p {
    font-size: 10px !important;
    width: max-content !important;
  }
  .selectDate {
    font-size: 12px !important;
  }
  .GuestDrop {
    font-size: 12px !important;
  }
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8px 10px !important;
    font-size: 10px !important;
  }

  .availability {
    font-size: xx-small !important;
    height: 30px !important;
  }
  .BlueHead2 {
    font-size: 0.67rem !important;
  }
  .ProfileImageContainer {
    width: 20px !important;
    height: 20px !important;
  }
  .AvailableText {
    font-size: x-small !important;
    margin-bottom: 10px !important;
  }
  .MyAvailProp {
    display: flex !important;
    flex-direction: column !important;
  }
  .card-btn2 {
    border: 1px solid #80808044;
    font-size: 7px !important;
    border-radius: 20px !important;
    width: 50px !important;
    height: 100% !important;
  }

  .propertyDetails .active {
    border: 1px solid orange !important;
    color: orange !important;
  }
  .box1 > div > li {
    display: flex;
    font-size: xx-small !important;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 120px;
    text-wrap: wrap !important;
  }
  .propertyDetailsYear {
    width: 300px !important;
  }
  .box1 {
    padding: 10px;
  }
  .Box-list1 {
    text-wrap: wrap !important;
  }
  .checkIn {
    font-size: small !important;
  }
  .singleDevice {
    display: flex;
    flex-direction: column !important;
  }
  .RoomsRes {
    width: 100% !important;
  }
  .AmenRes {
    display: flex;
    flex-direction: column !important;
  }

  .PropertyFlex {
    display: flex;
    flex-direction: column;
  }

  .property1 {
    padding-left: 14px;
    padding-top: 2px;
  }

  .DateHead1 {
    text-transform: capitalize;
    padding-top: 6px;
    padding-left: 14px;
    color: black;
    font-weight: 555 !important;
    font-size: small;
  }
  .rdp-button {
    font-size: x-small !important;
    padding: 0px !important;
  }
  .normalcalendar .calendar {
    width: 79% !important;
  }
  .w-11 {
    width: 38px !important;
    font-size: xx-small !important;
  }

  .h-10 {
    height: 27px !important;
  }
  .end-calendar {
    /* width: 141% !important; */
  }
  .stay-length,
  .btn-clear {
    font-size: 6px !important;
  }
  .stay-length {
    gap: 10px !important;
  }
  .img1 {
    height: 187px;
    width: 800px;
  }
  .image {
    height: 100px;
  }
  .show-more-overlay {
    width: 100px;
    height: 30px !important;
    padding: 0px !important;
  }
  .show-more-overlay > span {
    font-size: xx-small !important;
    text-wrap: nowrap;
  }
  .AmenRes > div > div {
    font-size: x-small;
  }
  .singleDevice {
    display: flex;
  }
  .cards {
    width: 100%;
  }
  .ShowMoreAmenities {
    font-size: 1rem !important;
    width: 300px;
  }
  .RuleList {
    font-size: 0.67rem !important;
  }
  .ThingsHead {
    padding: 0px !important ;
  }
  .shwmore,
  .addDate {
    font-size: 10px !important;
  }
  .ThingstoHead {
    font-size: small !important;
  }
  .Proprespo {
    display: flex;
    flex-direction: column;
  }
}
