@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
  font-optical-sizing: auto;
}

.Book-heading {
  font-family: sans-serif;
  font-weight: 700;
}

.no-border .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.Blue-row {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 1.2rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif !important;
  border-bottom: 2px solid #00000015 !important;
}

.Blue-rowshare {
  font-family: 'Montserrat', sans-serif !important;
  font-size: .9rem !important;
  font-weight: 600 !important;
  letter-spacing: .06rem;
}

.img-row {
  display: flex;
  width: 100%;
}

.img1 {
  height: 400px;
  width: 800px;
}

.image {
  height: 198px;
  width: 100% !important;
}

.container {
  width: 100%;
}

.cornerbottomright {
  border-bottom-right-radius: 5px;
}

.cornertopright {
  border-top-right-radius: 5px;
}

.cornertop {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.location {
  margin-top: 10px;
}

.cards {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
  border-radius: 20px !important;
  background-color: white !important;
  width: 70%;
}

.selectDate {
  font-weight: 600;
  /* text-align: center; */
  font-weight: 600 !important;
}

.Select {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  border: 1px solid white;
}

.availability {
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 50px !important;
  background-color: #88CDD4 !important;
  border: none;
}

.availability:hover {
  background-color: #88CDD4;
  border: none;
}

.DatePicker {
  padding: 0;
  white-space: normal;
}

.show-more-overlay {
  position: absolute;
  bottom: 18px;
  right: 12px;
  color: black;
  padding: 0 .7rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-color: #fff;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  gap: .2rem;
}

.show-more-overlay:hover{
  background-color: #f5f5f5ee;
}

.show-more-text {
  cursor: pointer;
  font-size: .8rem !important;
  text-transform: none !important;
}


.stikcy-eft {
  position: sticky !important;
}

.PropertyName {
  text-transform: capitalize !important;
  font-weight: 600 !important;
}

.PropertyAddress {
  font-size: 1.1rem !important;
}

.ThingstoHead {
  font-weight: 500 !important;
  margin-right: 100px;
}


.ThingstoHead1 {
  font-weight: 500 !important;
  font-size: x-large !important;
}

.monsterrat {
  font-family: 'Montserrat', sans-serif !important;

}


.checkIn {
  font-size: 1.3rem !important;
  font-weight: 600 !important;
}

.GridWidth {
  width: 55%;
}

.GridWidth1 {
  width: 45%;
}

.normalcalendar .calendar {
  box-shadow: none !important;
  width: 100% !important;
}