.footer {
  background-color: #E6F4F6;
  width: 100%;
  height: 106px;
}

.logo {
  background-image: url('../../assets/images/fraxioned.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 3rem;
  width: 300px !important;
  display: flex;
  align-items: center;
}

.foot-gap{
  gap: 10.5rem;
}

.container {
  max-width: 1200px;
  /* Increased maximum width for better layout control */
  margin: 0 auto;
}

.row {
  display: flex;
  /* justify-content: space-evenly !important;  */
}

/* .col-md-3, */
.col-md-2 {
  text-align: left;
  width: 10%;

}


ul {
  list-style: none;
  padding: 0 !important;
  font-size: medium;
  font-weight: 200 !important;
}

.no-underline {
  text-decoration: none;
  font-size: 1rem;
  color: #025D67;
  font-weight: 400;
  transition: color 0.3s;
}


.contact-us {
  width: 100%;
  max-width: 300px;
  /* Adjusted maximum width for the button */
  height: 50px;
  /* Adjusted height for the button */
  background-color: #0c888c;
  border-radius: 25px;
  /* Rounded button */
  border: none;
  margin-top: 20px;
  /* Adjusted top margin */
  position: relative;
  transition: background-color 0.3s;
  color: white;
  font-size: 16px;
  /* Adjusted font size */
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us .arrow {
  margin-left: 10px;
  /* Adjusted margin for arrow */
  transition: transform 0.3s;
}

.contact-us:hover {
  background-color: #f7981d;
}

.contact-us:hover .arrow {
  transform: translateX(5px);
  /* Adjusted arrow movement */
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    /* Stack columns on smaller screens */

    align-items: center;
    /* Center items vertically */
  }

  .col-md-3,
  .col-md-2 {
    width: 100%;
    /* Full width for columns on smaller screens */
    margin-bottom: 20px;
    /* Adjusted bottom margin */
  }

  .logo {
    margin-bottom: 20px;
    /* Adjusted bottom margin */
  }
}

.disabled {
  pointer-events: none;
}