@import url('@fontsource/jost');
@import url('@fontsource/open-sans');



.login-container {
    display: flex;
    height: 100vh;
    background: linear-gradient(135deg, #e66465, #9198e5);
}

.welcome-header {
    margin-top: 20px;
    text-align: left;
    gap: 20px
}

.welcome-section {
    flex: 1;
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paragraph-header {
    font-family: Sunborn Sansone, sans-serif !important;
    text-align: left;
    gap: 10px;
    font-size: 50px;
    margin-top: 14px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 1px 2px 3px rgba(253, 253, 253, 0.8);
}

.forgot-password {
    text-decoration: none;
    color: #5f5e5e;
}

.forgot-password:hover {
    color: #303030;
    text-decoration: none;
}


.Remember-me {
    color: #5f5e5e;
}


.login-form-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: white;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 292x;
    max-width: 400px;
}

.fraxioned-header {
    margin-top: 1px;
    margin-left: 95px;
    margin-bottom: 14px;
    font-weight: 600;
    font-family: Sunborn Sansone, sans-serif !important;
}

.form-group {
    margin-bottom: 1rem;
}

.input-field {
    width: 100%;
    padding: 12px;
    color: #080202;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-bottom: 2px solid #505050;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 14px;
    background-color: #ffae5b;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 27px;
}

.login-button:hover {
    background-color: #ed9d4d;
}

.social-logins {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.social-logins button {
    flex: 1;
    padding: 0.4rem;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

.social-logins .facebook {
    background-color: #1449b6;
    font-family: Sunborn Sansone, sans-serif !important;
    width: 130px;

}

.social-logins .twitter {
    background-color: #1DA1F2;
    font-family: Sunborn Sansone, sans-serif !important;
    width: 130px;

}

.social-logins .google {
    background-color: #db4437;
    font-family: Sunborn Sansone, sans-serif !important;
    width: 130px;

}

.social-logins button:hover {
    opacity: 0.8;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.register-link {
    text-align: center;
    margin-top: 18px;
    color: #535353;
}

.register-link a {
    color: #535353;
    text-decoration: none;
    margin-left: 5px;
}

.register-link a:hover {
    text-decoration: none;
}

.form-header {
    margin-bottom: 45px;
    margin-top: -6px;
    height: 15px;
    text-align: center;
    font-family: "Jost" !important;
    color: #242424;
    font-size: 1.3rem;
}