* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background-color: aliceblue;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.container1{
  /* background: url("../../assets/buildingnew.jpg"); */
  /* background-color: rgb(247, 238, 224); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 94vh;
  padding-top: 10px;
}

.main-container {
  height: calc(100vh - 56px); 
  display: flex;
  margin: 2% 5%;
    box-shadow: var(--bs-box-shadow) !important;
    height:500px !important;
}

@media only screen and (max-width: 776px) {
  .main-container {
       flex-direction: column;
       height: 578px;
   }
   /* .login-image-container1{
    flex: 3 ;

   }
   .login-container {
    flex: 1  ;
   
  } */
  .login-box {
    width: 100%;
    max-width: 350px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
  }
  
}

.login-image-container1 {
  flex: 2;
  background: url("../../assets/building.jpg") no-repeat center center;
  background-size:cover;  
}

.login-container {
  flex: 1 ;
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9); 
}

.login-box {
  width: 100%;
  max-width: 350px;
  /* height: 300px; */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.login-box h2 {
  margin-bottom: 30px;
  text-align: center;
}

.text-center {
  color: #F7981D;
}

.login-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 40px;
  outline: none;
  padding-left: 10px;
}


.login-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.login-box input:focus ~ label,
.login-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ff0000;
  font-size: 12px;
}

.form-control.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 12px;
  color: #dc3545;
}

.forgot-password {
  color: #F7981D;
  padding: 4px;
}

.forgot-password:hover {
  text-decoration: underline;
  color: rgb(105, 105, 255);
}

.login-box button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #F7981D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-box button[type="submit"]:hover {
  background-color: #e48f10;
}

.newUser {
  display: flex;
  justify-content: center;
  color: blue;
}
.passinput{
  margin-bottom: 10px !important;
}
.loginbtn{
  margin-top: 30px !important;
}