.card-btn {
  border: none;
  text-transform: none;
  height: 35px;
  border: 1px solid lightgrey;
  border-radius: 38px;
  margin-left: 10px;
  width: 240px;
  background: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card-btn.active {
  background-color: #e0e0e0;
}

.card-btn1 {
  border: none;
  text-transform: none;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 38px;
  margin-left: 10px;
  width: 100px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background: white;
}

.box {
  border: 1px solid grey;
  width: 415px;
  height: 53px;
  text-align: center;
  align-items: center;
  font-weight: 500;
  font-size: x-large;
  margin-left: 8px;
}

.BlueHead {
  font-weight: bold;
}

.BlueHead1 {
  border: none;
  font-weight: 400;
  width: 167px;
  height: 23px;
  font-size: small;
  border-radius: 45px;
  padding: 4px;
  text-align: center;
  background-color: #ffa852;
    color: white;
    margin: auto;
}
.BlueFont {
  font-size: small;
}
.image1 {
  background: url('../../../assets//BC\ -\ Home\ Page\ Banner.jpg');
  width: 100px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: cover;
}

.Available {
  font-weight: 600;
  padding-top: 3px;
}

.Box-list {
  font-size: 7px;
}

.property1 {
  text-transform: capitalize;
  color: grey;
}

.DateHead1 {
  text-transform: capitalize;
  color: black;
  font-weight: 500 !important;
}

.PropertyBtn:hover {
  background-color: rgb(236, 235, 235) !important;
  border: none !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.CardItem {
  /* border-radius: 32px; */
  width: 430px;
  height: 240px;
  overflow: hidden; /* Ensure content does not overflow outside the card */
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: white !important;
}

.IconArrow {
  /* background-color: rgb(247, 249, 251); */
  border-radius: 10px;
}
