
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*{
  font-family: 'Montserrat', sans-serif !important;

}

* body {
  padding-right: 0px !important;

} 

@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiFormControl-root .MuiOutlinedInput-notchedOutline{
  border-color: rgb(208, 205, 205) !important;
}




