.prop-name {
  font-family: sans-serif;
  font-weight: 700;
}
.Blue-row {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.img-row {
  display: flex;
  width: 100%;
}


.img1 {
  height: 400px;
}

.image {
  height: 198px;
}

.container {
  width: 80%;
}

.cornerbottomright {
  border-bottom-right-radius: 15px;
}
.cornertopright {
  border-top-right-radius: 15px;
}
.cornertop {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.location {
  margin-top: 10px;
}

.user-table {
  text-align: center;
}
.download-btn {
  margin-left: 50px;
}