.fullContainer {
    background-color: #ffffff;
    flex: 1;
    height: 100%;
    margin-right: 15px;
    padding: 32px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    gap: .8rem;
    display: flex;
    flex-direction: column;
}

.maincontainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.headersection {
    display: flex;
    justify-content: space-between;
    padding: .1rem .2rem;
}

.imagecontainer {
    height: 5rem;
    width: 100%;
    border: 1px dotted grey;
}

.amenitiescontainer,
.deletecontainer {
    display: flex;
    justify-content: space-between;
    padding: .1rem .2rem;
    align-items: center;
}

.deletecontainer {
    gap: .3rem;
    justify-content: flex-start;
}

.photoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.amenityItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.photoPreviewContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.photoGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.photoItem {
    position: relative;
    display: inline-block;
}

.previewImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 0.2rem;
    border-radius: 50%;
    font-size: 12px;
}