/* src/Components/ComingSoon/ComingSoon.css */
.coming-soon-fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-color: #f5f5f5; /* Background color */
  position: absolute; /* Ensure it covers the entire screen */
  top: 0;
  left: 0;
}

.coming-soon-message {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coming-soon-message h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  animation: fadeIn 2s ease-in-out;
}

.coming-soon-message p {
  font-size: 1.2rem;
  color: #555;
  animation: fadeIn 2s ease-in-out 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
