.MultiItems {
  display: flex;
  align-items: center;
}
.MutliselectBtn:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgb(236, 235, 235) !important;
  border: none !important;
}
.MultiHead {
  flex-direction: column;
  display: flex;
}
.MultiHead > a {
  font-size: 12px;
}

.DescFont {
  font-size: 13px;
  margin-top: -3px;
}

.w-50 {
  width: 43% !important;
  padding-top: 11px !important;
}

.MultiIte {
  padding-top: 9px;
}

.css-1tzgs8d-MuiAvatar-root {
  background: none !important;
  background-color: orange !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 10px !important;
}

.itemLabel {
  padding-top: 13px !important;
}

.DateHead1{
  margin-right: 48px !important;
  /* font-weight: 600 !important; */
}

.DateHead4{
  text-transform: capitalize;
  color: black;
  margin-right: 48px !important;
  font-weight: 600 !important;
}

.DropItems {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 3px;
  background-color: white;
  width: 500px;
  display: flex;

  flex-direction: column;

  border-radius: 32px;
  position: absolute;
  right: -10px;
  z-index: 1;
  margin-top: 8px;
}

.list-Items {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  background-color: white;
}

.Dec-circle,
.Inc-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Inc-circle.disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
}

.Ad-count {
  font-size: 16px;
  margin-top: 6px;
  width: 20px;
  padding-left: 7px;
}

.list-Age {
  font-size: 14px;
  font-weight: 400;
}

.HLine {
  margin: 5px;
}