.MultiItems {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.MultiItems:hover {
  background: none !important;
}
.MutliselectBtn:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgb(236, 235, 235) !important;
  border: none !important;
}
.MultiHead {
  flex-direction: column;
  display: flex;
}
.MultiHead > a {
  font-size: 12px;
}

.DescFont {
  font-size: 13px;
  margin-top: -5px;
}

.w-50 {
  width: 43% !important;
  padding-top: 0px !important;
}

.dynamicMsg {
  font-size: 12px;
  font-weight: 400;
  padding: 12px 19px 10px 40px;
}

.css-1tzgs8d-MuiAvatar-root {
  background: none !important;
  background-color: orange !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 10px !important;
}

.itemLabel {
  padding-top: 13px !important;
  color: rgb(74, 74, 74);
}

.DateHead1 {
  margin-right: 48px !important;
  /* font-weight: 600 !important; */
}

.DateHead4 {
  text-transform: capitalize;
  color: black;
  margin-right: 48px !important;
  font-weight: 600 !important;
}

.DropItems {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 3px;
  background-color: white;
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  position: absolute;
  right: -10px;
  z-index: 1;
  margin-top: 8px;
}

.list-Items {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  background-color: white;
}

.Dec-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
}
.Inc-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Inc-circle.enabled {
  background-color: #ffffff; /* Original background color */
  cursor: pointer;
  opacity: 1;
}

.Ad-count {
  font-size: 14px;
  margin-top: 6px;
  width: 21px;
  padding-left: 4px;
}

.list-Age {
  font-size: 14px;
  font-weight: 400;
}

.HLine {
  margin: 5px;
}

.validationMsg {
  border-top: "1px solid #ddd";
  font-size: 12px;
  font-weight: 500;
  text-align: -webkit-match-parent;
  padding: 12px 19px 5px 40px;
}

.css-ur8j0y-MuiButtonBase-root-MuiMenuItem-root:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: transparent !important;
}

/* Styles for the increase button */
button.monsterrat {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Disabled state for the button */
button.monsterrat:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.circleplusdisable {
  color: #c7c7c7;
  cursor: pointer;
}
.circleplus {
  color: grey;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .GuestCard {
    width: 350px !important;
  }
  .GuestIcon {
    width: 30px !important;
    height: 30px !important;
    font-size: small !important;
  }
  .DescFont{
    font-size: x-small !important;
  }
  .labelItem{
    font-size: small !important;
  }
  .GuestMenuItem{
    margin: 1px !important;
  }
}
