
.calendar{
  border-radius: 32px !important;
}
.b3.au.c3 svg {
    display: none;
    width: 100% !important;
    max-width: 60 !important;
  }


  button.ae.ax.ay.az.b3.bc.bd.be.bf.bg.ai.bw.au.bx.by.bz.c0.c1.bq.c2 {
    padding-left: 0;
    padding-right:0;
  }

  .error-message {
    /* margin-top: 10px; */
    margin-left: 27px;
    padding: 10px;
    color: red;
    background-color: #ffe6e6;
    border: 1px solid red;
    border-radius: 4px;
    text-align: center;
    display: block;
    width: 54%;
  }

  .stay-length {
    display: flex;
    align-items: center;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: gray;
    padding: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  
  .misl{
    margin-top: 5px;
    padding-left: 27px;
    padding-right: 30px;
  }
  
  .masl{
    margin-top: 5px;
    padding-left: 27px;
  }

  .season{ 
    margin-top: 5px;
    padding-left: 27px;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: gray;
  }

  .css-3bmhjh-MuiPaper-root-MuiPopover-paper{
    top: 338px !important;
    left: 350px !important;
    border-radius: 32px !important;
  }

  .b9 {
    width: 310px !important;
}

.c9 {
  /* width: 85% !important; */
}


.aw{
  gap: 26px !important;
  width: 60% !important;

  /* width: 50% !important; */
}
.ce {
  height: 45px !important;
}

.ca {
  font-size: 13px !important;
}

.c9 {
  /* width: 75% !important; */
}
.ak{
    text-align: center;
    width: 100% !important;
}
.cq {
  padding-right: 0px !important;
}
.c1{
  margin-bottom: 6px !important;
}

.cm {
  line-height: 36px !important;
}

