.calendar {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
}

.stay-length {
  display: flex;
  align-items: center;
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: gray;
}

.end-calendar{
  margin-bottom: 10px;
}

.btn-clear {
  cursor: pointer;
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-right: 20px;
}

.misl{
  /* margin-top: 20px; */
  padding-left: 20px;
  padding-right: 30px;
}

.misl2{
  padding-right: 30px;

}

.masl{
  /* margin-top: 20px; */
  padding-left: 27px;
}

.error-msg{
  font-size: 13px; 
}

/* .calendar{
    margin-right: 50%;
} */